/* vim: set ts=2 sw=2 et: */

/**
 * Layout
 */

html, body { margin: 0; }
body { min-height: 100vh; }

header, footer {
  position: fixed;
  left: 0;
  right: 0;
}

header {
  top: 0;
}
header h1 {
  margin-top: 0;
  padding: .7em 0;
}

header nav {
  display: flex;
  justify-content: space-around;
  max-width: 40em;
  margin: 0 auto;
}
header nav a {
  padding: 1em;
  width: 4em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

footer {
  padding-top: .7em;
  padding-bottom: 1em;
  bottom: 0;
}

main {
  width: 100vw;
}

main > section {
  box-sizing: border-box;
  height: 100vh;
  padding: 1em;
  padding-top: 12em;
  padding-bottom: 3em;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  overflow-y: auto;
}

main > section > article {
  margin-top: 12em;
  padding: 1em 1.2em;
  max-width: 40em;
  margin: auto;
}
main > section > article > :first-child {
  margin-top: 0;
}
main > section > article > :last-child {
  margin-bottom: 0;
}

/**
 * Scroll snap technique experiment
 * @see https://css-tricks.com/practical-css-scroll-snapping/
 */
main {
  max-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
main > section {
  flex-basis: 100vw;
  flex-shrink: 0;
  scroll-snap-align: start;
}

/**
 * Backgrounds
 */

:root {
  /* https://picsum.photos/id/1019/5472/3648 */
  --bg-home: url("/img/home.jpg");
  /* https://picsum.photos/id/127/4032/2272 */
  --bg-about: url("/img/about.jpg");
  /* https://picsum.photos/id/120/4928/3264 */
  --bg-more: url("/img/more.jpg");
}
main > section {
  background-size: cover;
  background-position: center center;
  background-image: var(--bg-image, "");
}
#home {
  --bg-image: var(--bg-home);
}
#about {
  --bg-image: var(--bg-about);
}
#more {
  --bg-image: var(--bg-more);
}

/**
 * Color & feel
 */

:root {
  /* Autumm Palette, picked by me at https://coolors.co/ */
  --color-shamrock: #519872ff;
  --color-shamrock-faded: #5198727a;
  --color-amethyst: #8b5fbfff;
  --color-amethyst-faded: #8b5fbf7a;
  --color-cornsilk: #fff8dcff;
  --color-cornsilk-faded: #fff8dc7a;
  --color-bronze: #d58936ff;
  --color-bronze-faded: #d589367a;
  --color-mid-gray: #504b43ff;
  --color-cafenoir: #4c2e05ff;
  --color-cafenoir-faded: #4c2e0599;

  color-scheme: dark; /* TODO light dark; */
  color: var(--color-cornsilk);
  background-color: var(--color-mid-gray);
}

body {
  color: var(--color-cornsilk);
}

header h1 {
  /* TODO ahora mismo no estoy aprovechando el bg debido al layout */
  color: var(--color-cornsilk-faded);
  /* background: inherit; */
  /* background-clip: text; */
  background-color: #0001;
  backdrop-filter: blur(7px);
}
header h1 small {
  color: var(--color-cafenoir);
  transform: color .5s linear;
}
.about header h1 small {
  color: var(--color-cafenoir);
}
.more header h1 {
  background-color: transparent;
  backdrop-filter: blur(1px);
}
.more header h1 small {
  color: var(--color-shamrock-faded);
}

header nav {
}
header nav a {
  color: var(--color-cornsilk);
  background-color: rgba(0, 0, 0, .4);
  backdrop-filter: blur(5px);
  transition: all .3s linear;
}
header nav a:hover:not(.selected) {
  color: floralwhite;
  background-color: var(--color-shamrock-faded);
    filter: drop-shadow(0 0 .5rem var(--color-bronze-faded));
}
header nav a:active:not(.selected) {
  transform: scale(.85);
}
header nav a.selected {
  color: var(--color-cornsilk-faded);
  cursor: default;
  background-color: var(--color-cafenoir);
}

a {
  color: var(--color-shamrock);
}

main > section {
}

main > section > article {
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
  border-radius: .5rem;
}

main > section > article > h2 {
  color: transparent;
  background: inherit;
  -webkit-background-clip: text;
  background-clip: text;
  filter: invert(1);
}

footer {
  color: var(--color-cornsilk-faded);
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
}
footer a {
  color: var(--color-shamrock-faded);
}
.about footer {
  color: var(--color-mid-gray);
}
.about footer a {
  color: var(--color-cafenoir-faded);
}
footer, footer * {
  transform: all 1s linear;
}

/* TODO
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

/**
 * Text
 */

:root {
  /* Fluid font size from https://css-tricks.com/simplified-fluid-typography/ */
  --font-base: min(max(1rem, 4vw), 22px);
  font-size: var(--font-base);
  line-height: calc(var(--font-base) / 2) + var(--font-base);
  font-weight: 400;

  /* Technique taken from vite's vanilla template */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: monospace;
  text-align: center;
}

header {
  font-size: .75rem;
}
header h1 {
  line-height: 1.2;
}
header h1 small {
  display: block;
  margin-top: .5em;
  font-size: .7em;
  font-weight: 400;
}
header nav a {
  text-decoration: none !important;
  font-weight: bolder;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

footer {
  font-size: .7em;
}

#more img {
  display: block;
  margin: 2em auto;
  border-radius: 50%;
  filter: drop-shadow(0 0 2em var(--color-bronze-faded));
}
