html, body { margin: 0; }

body {
  font-family: monospace;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
}

main {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
  width: 50vw;
  height: 50vh;
}

footer {
  position: absolute;
  bottom: 0;
}

header, footer {
  left: 0;
  right: 0;
  margin: 2em auto;
}

/* vim: set expandtab: */
/* vim: set ts=2 shiftwidth=2: */
