---
import Layout from '../layouts/SimpleLayout.astro'

import bg from '../img/about.jpg'
---
<Layout id='about' bg={bg}>
  <h2>About me</h2>
  <p>
    While I walk the path of software engineering I learn things that enable me
    to understand how my mind works, so to become better and reach self-being
  </p>
  <p>
    I'm from <a
      href="https://maps.app.goo.gl/Ue7P7fBQo7gxZP2N8"
      target="_blank"
      rel="noreferer"
    >Galicia</a>, which is at north-west Spain
  </p>
  <p>Since 9 years old, I started programming</p>
  <p>My passions have been always computers and music</p>
  <p>
    I play drums at <a
      href="https://orgasmatron.band"
      target="_blank"
      rel="noreferer"
    >orgasmatron.band</a> and used to play electric bass
  </p>
  <p>
    I've worked as lighting and sound technician during years
  </p>
  <p>
    Nowadays I'm full-time on IT, leading a full-stack devops team
  </p>
  <p>
    I like to learn things, being an enthusiast autodidact
  </p>
</Layout>
