---
import Layout from '../layouts/SimpleLayout.astro'

import bg from '../img/about.jpg'
---
<Layout id='about' bg={bg}>
  <h2>About me</h2>
  <p>I'm from Galicia, Spain.</p>
  <p>Since 9 years old, I started programming.</p>
  <p>My passions have been always computers and music.</p>
  <p>
    I play drums and electric bass, I'm member of two amateur bands.
  </p>
  <p>
    I've worked as lighting and sound technician during years.
    Nowadays I'm full-time on IT, leading a full-stack devops team.
  </p>
  <p>
    I like to be creative and learn things, being an enthusiast autodidact.
  </p>
</Layout>
