---
import Avatar from '../components/Avatar.astro'
import Layout from '../layouts/SimpleLayout.astro'
// import Timeline from '../components/Timeline.astro'

import bg from '../img/home.jpg'
---
<Layout id='home' bg={bg}>
  <h2>Hi world! I'm Lorenzo</h2>
  <Avatar />
  <p>
    This is a plain site I made for a bootcamp time ago.
  </p>
  <p>
    I'm updating it to be my personal brand web.
  </p>
  <p>
    It's still a
    <a
      href="https://github.com/lorenzogrv/lorenzogrv.github.io"
      target="_blank"
      rel="noopener"
    >work-in-progress</a>.
  </p>
  {/* <Timeline
    events={[
      { title: 'Prueba 1', start: new Date(2023, 11), end: new Date(2023, 11) },
      { title: 'Prueba 2', start: new Date(2023, 11), end: new Date(2023, 11) },
      { title: 'Prueba 2', start: new Date(2023, 11), end: new Date(2023, 11) },
      { title: 'Prueba 2', start: new Date(2023, 11), end: new Date(2023, 11) },
      { title: 'Prueba 2', start: new Date(2023, 11), end: new Date(2023, 11) },
      { title: 'Prueba 2', start: new Date(2023, 11), end: new Date(2023, 11) },
      { title: 'Prueba 2', start: new Date(2023, 11), end: new Date(2023, 11) },
      { title: 'Prueba 2', start: new Date(2023, 11), end: new Date(2023, 11) },
      { title: 'Prueba 2', start: new Date(2023, 11), end: new Date(2023, 11) },
      { title: 'Prueba 2', start: new Date(2023, 11), end: new Date(2023, 11) },
      { title: 'Prueba 2', start: new Date(2023, 11), end: new Date(2023, 11) },
      { title: 'Prueba 2', start: new Date(2023, 11), end: new Date(2023, 11) },
      { title: 'Prueba 2', start: new Date(2023, 11), end: new Date(2023, 11) },
      { title: 'Prueba 3', start: new Date(2023, 11), end: new Date(2023, 11) }
    ]}
    /> */}
</Layout>
