---
import Layout from '../layouts/SimpleLayout.astro'
---
<Layout id='home'>
  <h2>Hi world! I'm Lorenzo</h2>
  <p>
    This is a plain site I made for a bootcamp time ago.
  </p>
  <p>
    I'm updating it to be my personal brand web.
  </p>
  <p>
    It's still a
    <a
      href="https://github.com/lorenzogrv/lorenzogrv.github.io"
      target="_blank"
      rel="noopener"
    >work-in-progress</a>.
  </p>
</Layout>
