---
import Layout from '../layouts/SimpleLayout.astro'
---
<Layout id='more'>
  <h2>More</h2>
  <img alt="Avatar" src="/img/avatar.png" />
  <p>
    Eventually, I will drop here links to other webs I maintain, like
    <a
      href="https://blog.lorenzogrv.tech"
      target="_blank"
      rel="noopener"
    >my blog</a>,
    <a
      href="https://dojo.lorenzogrv.tech"
      target="_blank"
      rel="noopener"
    >the dojo</a>,
    <a
      href="https://orgasmatron.band"
      target="_blank"
      rel="noopener"
    >orgasmatron.band</a>,
    and others.
  </p>
  <p>
    I would also like to showcase here other projects as a kind of
    porfolio, to communicate my knowledge and ability.
  </p>
  <p>
    While that isn't ready, you can visit the previous links.
  </p>
</Layout>
