---
import Social from '../components/SocialCard.astro'
import Layout from '../layouts/SimpleLayout.astro'

import bg from '../img/more.jpg'
---
<Layout id='more' bg={bg}>
  <h2>More</h2>
  <p>
    Sometimes I write (in Galician) at <a
      href="https://blog.lorenzogrv.tech"
      target="_blank"
      rel="noopener"
    >my blog</a>, feel free to take a visit. It contains mostly thoughts, but
    may also help at introducing me
  </p>
  <p>
    One day this web will contain a project portfolio. While that isn't ready,
    you can visit my profiles at GitLab and GitHub to see code written by me
  </p>
  <Social variant="gitlab" username='lorenzogrv' description="GL main account" />
  <Social variant="gitlab" username='lorenzogrv1' description="GL alt account" />
  <p>
    Nowadays I spend most of the time at GitLab, so my GitHub account has few
    activity
  </p>
  <Social variant="github" username='lorenzogrv' description="GH account"/>
</Layout>
<style>
  p { flex-basis: 100% !important; }
  :global(figure.social-card) {
    flex-basis: auto;
  }
</style>
