---
---
<button class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</button>
<style>
  .hamburger {
    display: inline-block;
    cursor: pointer;
    border: none;
    background: none;
  }
  .hamburger:focus {
    outline: 2px auto currentColor;
  }
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin: 10px 5px;
    background-color: currentColor;
  }
</style>
