/**
 * Color & feel
 */

:root {
  /* Autumm Palette, picked by me at https://coolors.co/ */
  --color-shamrock: #519872ff;
  --color-shamrock-faded: #5198727a;
  --color-amethyst: #8b5fbfff;
  --color-amethyst-faded: #8b5fbf7a;
  --color-cornsilk: #fff8dcff;
  --color-cornsilk-faded: #fff8dc7a;
  --color-bronze: #d58936ff;
  --color-bronze-faded: #d589367a;
  --color-mid-gray: #504b43ff;
  --color-mid-gray-faded: #504b4380;
  --color-cafenoir: #4c2e05ff;
  --color-cafenoir-faded: #4c2e0599;

  /* picks from ai-artwork */
  --color-lime: #f0e564;
  --color-lime-faded: #f0e56480;
  --color-skyblue: #4e99be;
  --color-skyblue-faded: #4e99be7a;

  --main-fg: var(--color-lime);
  --main-fg-faded: var(--color-lime-faded);
  --main-fg-dark: var(--color-bronze);
  --main-fg-dark-faded: var(--color-bronze-faded);

  --main-bg: var(--color-mid-gray);
  --main-bg-overlay: rgba(10, 10, 7, .5);

  --high-fg: var(--color-shamrock);
  --high-fg-faded: var(--color-shamrock-faded);

  --text-fg: var(--color-cornsilk);
  --text-fg-faded: var(--color-cornsilk-faded);
  --text-fg-dark: var(--color-cafenoir);
  --text-fg-dark-faded: var(--color-cafenoir-faded);

  color-scheme: dark; /* TODO light dark; */
}

body {
  color: var(--text-fg);
  background-color: var(--main-bg);
}
a {
  color: var(--high-fg);
  font-weight: 500;
  text-decoration: inherit;
}
a:focus, a:hover {
  text-decoration: underline;
}

main h1, main h2 {
  color: var(--main-fg);
  position: relative;
}
main h1:after,
main h2:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid var(--main-fg-dark);
}


footer {
  font-size: .7em;
  color: var(--color-cornsilk-faded);
}
footer a {
  color: var(--color-shamrock-faded);
}
footer, footer * {
  transform: color 1s linear;
}

.home, .timeline {
  --main-bg-overlay: rgba(10, 10, 7, .8);
}
.about {
  --main-bg-overlay: rgba(10, 10, 7, .7);
}
.more {
  /* --main-fg: var(--color-cornsilk); */
  --high-fg: var(--color-amethyst);
  --high-fg: var(--color-shamrock);
  --high-fg-faded: var(--color-shamrock-faded);
  --text-fg-dark: var(--color-amethyst);
  --text-fg-dark-faded: var(--color-amethyst-faded);
}
.about footer {
  color: var(--color-mid-gray);
}
.about footer a {
  color: var(--color-cafenoir-faded);
}

/* TODO
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

