/* vim: set ts=2 sw=2 et: */

:root {
  --text-font: 'Inconsolata', monospace;
  --main-font: 'Source Code Pro', monospace;
}

html {
  /* Fluid font size from https://css-tricks.com/simplified-fluid-typography/ */
  --font-base: min(max(1rem, 4vw), 22px);
  font-size: var(--font-base);
  line-height: calc(var(--font-base) / 2) + var(--font-base);
  font-weight: 400;

  /* Technique taken from vite's vanilla template */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--text-font);
}
h1, h2, button, hgroup p {
  font-family: var(--main-font);
}

:focus:not(:focus-visible) {
  outline: none;
}
:focus-visible {
  outline: .2rem solid currentColor;
  outline-offset: 0;
}
